body, html{
    background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center center ;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	overflow-x: hidden;
	line-height: 1.5;
    font-family: 'Magra';
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
  background-color: aliceblue;
  border: 2px solid black;
  font-size: 120%;
  margin-top: 200%;
}